*{
    primary: #212529;
    secondary: #468189;
    secondary-light: #CED4DA;
    primary-light: #2B3035;

}

.login-view {
    -fx-background-color: primary;
}


.login-body {
    -fx-padding: 0 64 16 16;
}

.al-center {
    -fx-alignment: center;
}

.sp-5 {
    -fx-spacing: 5px;
}

.wid-120 {
    -fx-pref-width: 100px;
}

.text-field, .password-field, .button {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: secondary;
    -fx-text-fill: secondary-light;
}

.button:hover, .button:focused {
    -fx-background-color: secondary;
    -fx-text-fill: white;
}

.main-frame {
    -fx-pref-width: 1200px;
    -fx-pref-height: 700px;
    -fx-background-color: primary-light;
}

.side-bar {
    -fx-padding: 10 0 0 0;
    -fx-background-color: primary;
}

.side-bar-menu {
    -fx-alignment: center;
    -fx-spacing: 5px;
    -fx-pref-height: 70px;
    -fx-pref-width: 100px;
    -fx-min-width: 100px;
}

.side-bar-menu:hover {
    -fx-background-color: primary-light;
}

.side-bar-menu.active {
    -fx-background-color: primary-light;
}

.side-bar-menu .label, .side-bar-menu SVGPath {
    -fx-fill: secondary-light;
    -fx-text-fill: secondary-light;
}

.content-view {
    -fx-pref-width: 1100px;
    -fx-pref-height: 700px;
    -fx-max-width: 5000px;
    -fx-max-height: 3000px;
}

.content-view-header {
    -fx-padding: 20px;
}

.content-view-header > .title {
    -fx-font-size: 20px;
    -fx-text-fill: secondary-light;
}

.dialog {
    -fx-pref-width: 600px;
    -fx-background-color: primary-light;
}

.dialog-icon {
    -fx-pref-width: 160px;
    -fx-alignment: center;
    -fx-background-color: primary;
}

.dialog-button-box {
    -fx-alignment: center-right;
}

.dialog-icon SVGPath {
    -fx-fill: secondary-light;
}

.dialog-body {
    -fx-padding: 20px;
    -fx-alignment: center-left;
}

.dialog-title {
    -fx-font-size: 24px;
}

.dialog-message-box {
    -fx-padding: 20 0 20 0;
}

.dialog-message-box Label {
    -fx-font-size: 18px;
}

.sp-10 {
    -fx-spacing: 10;
}

.wid-140 {
    -fx-pref-width: 140px;
}

.author-message-box {
    -fx-padding: 20 0 20 0;
}

.author-message-box Label {
    -fx-font-size: 14px;
}

.author-icon {
    -fx-alignment: center;
    -fx-background-color: primary;
    -fx-pref-width: 160px;
}

.add-button, SVGPath {
    -fx-fill: secondary-light;
    -fx-alignment: center;
    -fx-pref-width: 80px;
}

.add-button:hover {
    -fx-background-color: primary-light;
}

.add-button:hover SVGPath {
    -fx-fill: secondary;
}

.search-bar {
    -fx-padding: 0 0 0 20;
    -fx-spacing: 10;
}

.search-bar > TextField, .search-bar > ComboBox {
    -fx-pref-width: 280px;
    -fx-max-width: 380px;
}

.search-bar > TextField, .search-bar > ComboBox {
    -fx-pref-width: 280px;
    -fx-max-width: 380px;
}

.table-wrapper {
    -fx-padding: 20;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: primary;
}

.table-view .column-header-background {
    -fx-background-color: primary;
    -fx-text-fill: secondary-light;
}

.table-view .column-header  {
    -fx-background-color: transparent;
    -fx-text-background-color: secondary-light;
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-background-color: secondary-light;
    -fx-alignment: CENTER;

}
.table-row-cell:hover {
    -fx-background-color: #343A40;
    -fx-text-fill: secondary;
}
.table-row-cell:odd{
    -fx-background-color: #343A40;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-alignment: center;

}
.table-row-cell:even{
    -fx-background-color: #495057;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-alignment: center;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}